/*Global Styles*/

 *, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
 
html {
/* background: url("images/background2.png");
 background-size:cover;*/
}

/*Main Content wrapper*/

h1 {
	text-align: center;
	font-size:60px;
	padding-bottom:45px;
}
h1.title {
    background:white;
    opacity: 0.7;
}

.wrapper {
	width:1200px;
	margin:0;
	padding:50px;
}


img.and {
	float:left;
	width:17%;
	height:auto;
	padding: 10% 5% 0 5%;

}

img.food {
	float:left;
	margin-left: 20%;
	border-radius: 50%;

 
	
}

img.drink {
	float:left;
	border-radius: 50%;

 }

 .button2 {
 	display: none;
 }

.interestedButton {
  height:60px;
  width:150px;
  background:#d6f9dd;
  border-radius: 7px;
   }
.interestedButton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.interestedButton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

 .notInterestedButton {
  height:60px;
  width:150px;
  background:#d6f9dd;
  border-radius: 7px;
   }
.notInterestedButton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.notInterestedButton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

   .startButton {
  height:250px;
  width:750px;
  background:#4d061c;
  border-radius: 15px;
  position: absolute;
  left:18%;
  top:37%;
   }

   .startButton h1 {
    color:white;
    font-size: 94px;
   }



/*API information*/