/*Global Styles*/

 *, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }

body {
 background: url(images/restaurant_icons.png);
font-family: 'Raleway', sans-serif;


}

/*Main Content wrapper*/

/*.wrapper {*/
    /*width:1100px;*/
    /*margin: auto;*/
/*}*/

/*Header*/

img.logo{
    width: 20%;
    margin: 1% auto 0;
    display: block;
}

h1.title {
    text-align: center;
    font-size:40px;
    color: #bc202d;
    margin: 1% 0 3%;
}

 /*h1.title span {*/
     /*background:#bc202d;*/
     /*opacity: 0.6;*/
     /*padding:20px 50px;*/
 /*}*/

.location {
    width: 60%;
    background: rgba(52,152,219, 0.4);
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto 5%;
    padding: 3.5% 0;
    z-index: 100;
    position: relative;
    display: block;
}

.location h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    font-size: 2.5rem;
}

.location p {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 0;
    font-weight: bold;
}

input[type=text] {
    border: 1px solid black;
    padding: 1.5%;
    display: block;
    margin: 0 auto 1%;
    width: 40%;
    background: none;
    font-size: 1.8rem;
    text-align: center;
}
input[type=submit]{
    border: 1px solid white;
    padding: 1% 5%;
    display: block;
    margin: auto;
    background: #4d061c;
    opacity: 0.7;
    font-size: 1.5rem;
    color: white;
}

.wrapper{
    opacity: 0;
}

.images{
    margin: 0 auto;
    width: 700px;
}
.images img.and {
    float: left;
    width: 28%;
    padding: 10% 9% 0 9%;
}

.images img.food {
	float:left;
	border-radius: 50%;
}

img.drink {
	float:left;
	border-radius: 50%;
}

.button2 {
    display: none;
 }

.button-wrapper {
  margin:0 auto;
  padding-top: 24%;
  width: 530px;
}

.interestedButton {
  display: inline-block;
  height:80px;
  width:220px;
  background:#4d061c;
  border-radius: 7px;
  margin-right: 15%
}

.interestedButton h2 {
    color:white;
    text-align: center;
    padding-top: 5px;
 }

.interestedButton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   cursor: pointer;
}
.interestedButton:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

 .notInterestedButton {
     display: inline-block;
     height:80px;
     width:220px;
     background:#4d061c;
     border-radius: 7px;
     padding-top: 5px;
 }

 .notInterestedButton h2 {
    color:white;
    text-align: center;
 }

.notInterestedButton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   cursor: pointer;
}

.notInterestedButton:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

    .restaurant {
      text-align: center;
      float:left;
      padding:20px;
      width:275px;
      height:300px;
      background:#65cdca;
      border:1px solid white;

    }
    .restaurant-container {
        padding-top: 80px;
        width: 90%;
        margin: auto;
    }

   .restaurant p {
    line-height: 1em;
   }



/*API information*/
